@import url(http://fonts.googleapis.com/css?family=Raleway:500);
@import url(http://fonts.googleapis.com/css?family=Raleway);
.so-widget-sow-headline-sow-headline-825c8f644911 #sow-headline-container.sow-headline h2 {
  font-family: Raleway;
  font-weight: 500;
  text-align: left;
  color: #0d6cbf;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-825c8f644911 #sow-headline-container.sow-headline h4 {
  font-family: Raleway;
  font-weight: 400;
  text-align: center;
  color: #1e73be;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-825c8f644911 #sow-headline-container.sow-headline .decoration {
  border-top: thin none #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20pxpx 60pxpx;
}